body {
    background-color: #222;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    margin-bottom: 5px;
}

#status {
    font-size: 20px;
    margin: 10px;
}

#chess-board {
    width: 480px;
    height: 480px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    border: 5px solid white;
}

.square {
    width: 60px;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 42px;
    cursor: pointer;

    box-sizing: border-box;
}

.white-square {
    background-color: #f0d9b5;
}

.black-square {
    background-color: #b58863;
}

.selected {
    background-color: yellow !important;
}

.valid {
    box-shadow: inset 0 0 0 5px #55aa55;
}

.check {
    background-color: #e74c3c !important;
}

button {
    padding: 10px 25px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

@media (max-width: 550px) {

    #chess-board {
        width: 360px;
        height: 360px;
    }

    .square {
        width: 45px;
        height: 45px;
        font-size: 32px;
    }
}
